@inherits LayoutComponentBase
@using MudBlazor;
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
    </div>

    <main style="background-color:blue; height :2000px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>