@using MudBlazor
@using UMS.Client.Business.Interface.StudentService
@using UMS.Client.Business.StudentService
@using UMS.Client.Core.Enums
@using UMS.Client.Dtos.Student
@inject IStudentService StudentService
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:transparent;  margin: auto;max-width:60rem; ">
    <MudTabs Class="card mt-2" Elevation="4" AlwaysShowScrollButtons="false" @ref="tabs" Rounded="true" Centered="true" Color="MudBlazor.Color.Dark" Style="margin-left:-2rem; margin-right:-2rem;  background-color:transparent !important">
        <MudTabPanel @onclick="() => SetTab(General)" @ref="General" Text="General" />
        <MudTabPanel @onclick="() => SetTab(SocialMedia)" @ref="SocialMedia" Text="Social Media" />
    </MudTabs>
</nav>
<div class="card mt-2" style="max-width: 40rem; margin-left: auto; margin-right: auto">
    <h4 class="card-header">Name : @currUser?.Name</h4>
    <div class="card-body">
        <EditForm Model="@currUser" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            @if (tabs.ActivePanel == General)
            {
                <SettingsGeneralTabComponent currUser="@currUser" />
            }
            @if (tabs.ActivePanel == SocialMedia)
            {
                <SettingsSocialClubTabComponent currUser="@currUser" />
            }
            <hr />
            <br />
            <br />
            <div style="text-align: center">
                <button disabled="@loading" class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save Changes
                </button>
            </div>
        </EditForm>
    </div>
</div>
@code {

    [Parameter]
    public StudentDto currUser { get; set; }

    MudTabs tabs;
    MudTabPanel General;
    MudTabPanel SocialMedia;

    public SettingFormTabPaneType CurrTab { get; set; } = SettingFormTabPaneType.General;
    private bool loading;

    private async void OnValidSubmit()
    {
        await StudentService.Update(currUser);
    }
    private void SetTab(MudTabPanel tab)
    {
        tabs.ActivatePanel(tab);
    }

}

