@using UMS.Client.Business.Interface.StudentService
@using MudBlazor
@using UMS.Client.Dtos
@using UMS.Client.Dtos.Student


<MudDialog>
    <DialogContent>
        @if (CourseDetail == null)
        {
            <Spinner/>
        }
        else
        {
            <table class="table table-hover table-sm" style="margin-top: 1%">
                <thead>
                    <tr>
                        <th scope="col" style="width: 40%"><span style="color:white">Name</span></th>
                        <th scope="col" style="width: 40%"><span style="color:white">Credits</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="color:white">@CourseDetail.Name</td>
                        <td style="color:white">@CourseDetail.Credits</td>
                        <td style="color:white">12</td>
                    </tr>
                </tbody>
            </table>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Error" OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public CourseDto CourseDetail { get; set; }
    void Cancel() => MudDialog.Cancel();

}
