@page "/teacherstudents"
@layout MainLayout
@using MudBlazor
@using Microsoft.Extensions.Configuration
@using UMS.Client.Business.Helpers
@using UMS.Client.Business.Interface.Shared
@using UMS.Client.Core.Enums
@using UMS.Client.Dtos
@using UMS.Client.Dtos.Shared
@using Microsoft.AspNetCore.Authorization
@using UMS.Client.Business.Interface.StudentService
@using UMS.Client.Business.Interface.Teacher
@using UMS.Client.Dtos.Student
@using UMS.Client.Dtos.Teacher
@using UMS.Client.Main.CustomComponents.DialogComponents
@using UMS.Client.Main.Pages.Events.Components
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IHttpService HttpService
@inject ILocalStorageService LocalStorageService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IConfiguration Configuration
@inject IPageAuthenticationService PageAuthenticationService
@inject ITeacherService TeacherService
@if (CourseList == null)
{
    <Spinner />
}
else
{
    <div class="card mt-2 Grid-Card" style="max-width: 75rem; margin-left: auto; margin-right: auto;">
        <div class="card-header">
        </div>
        <MudTable Items="@CourseList.Data.Courses.SelectMany(x => x.StudentCourses)" Dense="true" Hover="true" Filter="new Func<StudentCourseDto,bool>(FilterFunc)" SortLabel="Sort By" Class="Table-Grid">
            <ToolBarContent>
                <MudText Class="Table-Grid-Header" Typo="Typo.h6">Students List</MudText>
                <MudSpacer />
                <input type="text" name="search" placeholder="Search" @bind-value="searchString" @bind-value:event="oninput">
            </ToolBarContent>
            <ColGroup>
                <col style="width: 50%;" />
                <col style="width: 50%;" />
            </ColGroup>
                <HeaderContent>
                    <MudTh><MudTableSortLabel Class="Table-Grid-Header" InitialDirection="MudBlazor.SortDirection.Ascending" SortBy="new Func<StudentCourseDto, object>(x=>x.Course.Name)">Course Name</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel Class="Table-Grid-Header" InitialDirection="MudBlazor.SortDirection.Ascending" SortBy="new Func<StudentCourseDto, object>(x=>x.Student.Name)">Course Name</MudTableSortLabel></MudTh>

                </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Course Name">@context.Course.Name</MudTd>
                <MudTd DataLabel="Course Name">@context.Student.Name</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager Style="color:white;font-weight:700;" RowsPerPageString="RowsPerPage" PageSizeOptions="new int[]{5, 10, 20}" />
            </PagerContent>
        </MudTable>
    </div>
}


@code {
    private Result<CourseInstructorDto> CourseList;
    UserType UserControl;
    long UserId;
    private CourseDto selectedStudent = new CourseDto();
    bool UserAuthControl;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        UserControl = await LocalStorageService.GetCurrentUserType();
        UserId = long.Parse(await LocalStorageService.GetUserId());
        UserAuthControl = PageAuthenticationService.ControlAuthentication(Pages.TeacherStudents, UserControl);

        if (UserAuthControl)
        {
            try
            {
                CourseList = await TeacherService.Get(UserId);
                if (CourseList == null)
                    return;
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Snackbar.Add("Error Occured", Severity.Error, options => options.Onclick = snackbar => Task.CompletedTask);
                NavigationManager.NavigateTo("/user");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/user");
        }
    }

    private bool FilterFunc(StudentCourseDto student)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        //if (student.Name == null)
        //    return false;

        return false;
    }
    void CancelSearch()
    {
        searchString = null;
    }
}
